@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131839;
    color: white;
    font-family: 'Inter', sans-serif;
}

.contenedor {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

nav {
    display: none;
}

.rectangulo-lila {
    margin-right: 30px;
}

.akai-logo {
    height: 50px;
    padding-left: 20px ;
}

.try {
    display: none;
}

.hero-main {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;  
}

.hero-pad {
    position: absolute;
}

.pad-botones {
    height: 200px;
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    text-align: center;
    margin-top: 300px;
}
.sonido-texto {
    display: flex;
    justify-content: center;
    color:#6C56C2;
    font-size: 30px;
}
.asterisco-lila {
    width: 30px;
    display: flex;
    margin-top: 20px;
}

p {
   display: flex;
   padding: 20px;
   color: #A9A5A6;
   text-align: center;
   font-size: 18px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.btn-hero-main {
    height: 109.95085144042969px;
    width: 246px;
    border-radius: 16px;
    background-color: #6C56C2;
    color: white;
    font-size: 23px;
    margin-top: 50px;
}

.btn-hero-main2 {
    background-color: #131839;
    color: white;
    font-size: 23px;  
}
.btn-img {
    margin: 20px;
    padding-inline: 10px;
}

img {
    margin:auto;
}
.footer-main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contactenos {
    margin-bottom: 40px;
}

.form-contactenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px;
}

h4 {
    color:#6C56C2;
    font-size: 18px;
}

.formulario-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
.formulario-item1 {
    margin: auto;
    height: 70px;
    width: 299px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario-item2 {
    margin: auto;
    height: 70px;
    width: 299px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario-item3 {
    margin: auto;
    height: 120px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario-enviar {
    margin: auto;
    background-color:#6C56C2;
    color: white;
    height: 86px;
    width: 299px;
    left: 26px;
    top: 1853px;
    border-radius: 16px;
}

@media screen and (min-width: 600px) {

    body {
        background-color: #0a26df;
    }

    .hero-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 3em;
        gap: 5em;
    }

    .header-navbar {
        display: flex;
        gap: 3em;
        align-items: center;
    }

    nav{
        display: flex;
        flex-direction: column;
    }
    .navbar {
        list-style: none;
        display: flex;
        gap: 38px;
        justify-content: space-between;
    }
    .try {
        background-color: #6C56C2;
        display: flex;
        width: 110px;
        height: 38px;
        align-items: center;
        color: white;
        border-radius: 5px;
        justify-content: center;
        margin-right: 50px;
    }

     label {
        display: none;
     }

     .rectangulo-lila {
        display: none;
     }

     .hero-pad {
        position: relative;
     }

     .pad-botones {

     }

     h1 {
        margin: auto;
     }
      br {
    
      }


    
    
}